.container {
  position: relative;
  width: 650px;
  max-width: 100%;
  overflow: hidden;
  padding: 2rem;
  border: 4px solid #fff;
  border-radius: 1rem;
  box-sizing: 25px 25px rgba(255,255,255,1);
  background: white;
  box-shadow:15px 15px 20px rgba(0, 0, 0, 0.3); 
  transition: all .5s ease-in-out;
}
.container h1 {
  text-align: center;
}
body {
  background-color: antiquewhite;
  background-size: cover;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

}
.button-align {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.align-item {
    display: flex;
      justify-content: center;
    align-items: center;
}